defmodule <%= @name %> do
  @moduledoc false

  use Akd.Hook

  def get_hooks(deployment, opts \\ []) do
    # Replace this with some destination
    destination = Destination.local(".")

    form_hook opts do
      main "main command", destination, cmd_env: [{"SOME_ENV", "some_values"}]

      ensure "ensure command", destination

      rollback "rollback command", destination
    end
  end
end
